@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root{
    --desaturated-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);
    --dark-grayish-red: hsl(0, 6%, 24%);
    --white-gradient: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    --red-gradient: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body{
    width: 100vw;
    min-height: 100vh;
    position: relative;
}

header{
    padding: 4rem 10rem;
    position: absolute;
}

main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-col{
    width: 60%;
    height: 100vh;
    padding: 10rem;
    background: url(images/bg-pattern-desktop.svg), var(--white-gradient);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.left-col h1{
    font-size: clamp(2.5rem, 6vw, 4rem);
    font-weight: 600;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 15px;
    color: var(--dark-grayish-red);
}

.left-col h1 span{
    font-weight: 300;
    color: var(--desaturated-red);
}

.left-col p{
    font-size: clamp(0.75rem, 3vw, 0.9rem);
    word-spacing: 1.5px;
    margin: 1.2rem 0;
    line-height: 1.8;
    max-width: 400px;
    color: var(--desaturated-red);
}

.left-col .user-email{
    max-width: 400px;
    display: flex;
    align-items: center;
    position: relative;
}

.user-email input{
    width: 100%;
    padding: 1rem 4rem 0.9rem 1.5rem;
    border-radius: 50px;
    border: 1px solid hsla(0, 6%, 24%, 0.2);
    outline: none;
    background: transparent;
    color: var(--dark-grayish-red);
}

.user-email input::placeholder{
    color: var(--desaturated-red);
    font-size: 0.85rem;
}

.user-email input:focus{
    border: 1px solid hsla(0, 6%, 24%, 0.2);
}

#invalid-icon{
    position: absolute;
    top: 50%;
    right: 90px;
    transform: translateY(-50%);
}

#invalid-icon img{
    width: 16px;
}

.user-email button{
    border: none;
    outline: none;
    padding: 0.85rem 2.2rem;
    border-radius: 50px;
    position: absolute;
    right: 0px;
    top: 0px;
    background: var(--red-gradient);
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.user-email button:hover,
.user-email button:active{
    opacity: 0.6;
}

.user-email button img{
    width: 10px;
}

#invalid-message{
    color: var(--soft-red);
    margin: 0.3rem 1.5rem;
    font-size: 0.8rem;
}

.right-col{
    width: 40%;
    height: 100vh;
    background: url(images/hero-desktop.jpg) no-repeat;
    background-size: cover;
    background-position: center top;
}

/* Footer Style
.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
} */


@media only screen and (max-width: 1024px){

    header{
        padding: 4rem 6rem;
    }
    .left-col{
        width: 50%;
        padding: 10rem 6rem;
    }

    .right-col{
        width: 50%;
    }
}

@media only screen and (max-width: 930px){
    main{
        flex-direction: column-reverse;
    }

    header{
        padding: 2rem 3rem;
        position: relative;
    }
    .left-col{
        width: 100%;
        padding: 3rem 8rem;
        text-align: center;
    }

    .left-col p{
        max-width: none;
    }

    .left-col .user-email{
        max-width: none;
    }

    .right-col{
        width: 100%;
        background: url(images/hero-mobile.jpg) no-repeat;
        background-size: cover;
        background-position: center top;
        height: 50vh;
    }
}

@media only screen and (max-width: 600px){
    .left-col{
        padding: 3rem;
    }
}


@media only screen and (max-width: 445px){
    .left-col{
        padding: 3rem 1rem;
    }
}